html {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Comic Neue', cursive; /* this should be the rest of the output you got from Google Fonts */
  background-color: #00539f;
}

.NavButton {
	background-color: #ff9500;
	padding: 5px 20px;
	border:5px solid Black;
	border-radius:10px;
  color: #ffffff;
  text-decoration: none;
}

/*
.NavButton:hover::before {
  content: "▶";
}
*/

.NavButton:hover {
	background-color:#9b5d05
}

p,
li,
h6,
dl {
	margin: 20;
}

dl {
  font-size: 18px;
}

dt{
  font-size: 19px;
}

h6 {
  margin: 6;
  font-size: 15px;
}

ul {
  background: #012241;
  padding: 25px;
  border: 1px solid black;
}


body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1, h2 {
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

h2 {
  padding: 1px 0;
  font-size: 45px;
}

img {
  display: block;
  margin: 0 auto;
}